@media (min-width: 992px) {
  .img-anhthe {
    width: 120px;
    height: 240px;
  }
  .ccweb,
  .ccjava,
  .ccdatabase {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 768px) {
  .timeline {
    grid-column-start: 3;
    grid-column-end: -1;
    grid-row-start: -1;
    grid-row-end: 3;
  }
}
