.container {
  margin: 40px 100px;
}
.banner {
  text-align: center;
  position: relative;
  color: aliceblue;
}

.img-background {
  width: 100%;
}

/* thông tin */
.img-anhthe {
  width: 120px;
  height: 160px;
  border-radius: 50%;
}
ul li {
  list-style: none;
}
ul li a {
  text-decoration: none;
  color: black;
}

.info-icon {
  color: blue;
}
/* thông tin cá nhân */
.info-right {
  background-color: rgb(224, 233, 233);
}

/* thông tin nghề nghiệp */
/* .grid-job-info {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: auto;
  grid-gap: 0.5rem 0.5rem;
} */
.border-radius {
  border: 1px solid black;
  padding: 5px;
}
.time-line {
  position: relative;
  padding: 0 30px;
}
.time-line .content-row::after {
  content: "";
  background-color: blue;
  border-radius: 50%;
  position: absolute;
  left: 5px;
  top: 2px;
  height: 12px;
  width: 12px;
}
/* phần hover thông tin nghề nghiệp */
.view {
  background-color: #d6c08d;
  text-align: center;
  width: 110px;
  border-radius: 50px 50px;
  margin-left: 30%;
}
.viewmore {
  display: none;
  background-color: #d6c08d;
  text-align: center;
  width: 110px;
  border-radius: 50px 50px;
  margin-left: 30%;
}
/* tiêu đề thông tin nghề nghiệp */
.title-job-info {
  display: grid;
  grid-template-columns: 75% 25%;
  justify-content: center;
  text-align: center;
}

.job-icon {
  font-size: 25px;
  color: blue;
}
.job-infoName {
  padding-bottom: 20px;
}
/* css so thich */

.sothich-content i {
  font-size: 30px;
}
.sothich-content {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  justify-items: center;
  justify-content: center;
}
.sothich-icon {
  color: rgb(19, 47, 228);
  border: 1px solid blue;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* chung chi */
.chungchi {
  background-color: rgb(235, 232, 230);
}
.ccdatabase {
  padding-top: 20px;
}
.ccweb,
.ccjava {
  border-bottom: 1px solid #ef5908;
  padding: 30px 10px;
}
.ccjava {
  border-left: 1px solid #f0260b;
  padding-left: 10px;
}
.img-chungchi {
  width: 100%;
  height: 100%;
}
/* dự án */
.flex-duan {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  padding: 0 20px;
}
.ten-duan {
  border: 1px solid black;
}
.ten-duan a {
  text-decoration: none;
  color: black;
}
.img-duan {
  width: 100%;
}
/* Ngon ngu + kĩ năng */
.dat {
  background-color: blue;
  display: inline-block;
  height: 3px;
  margin-right: 10px;
  width: 45px;
}
.chuadat {
  background-color: rgb(162, 164, 180);
  display: inline-block;
  height: 3px;
  margin-right: 10px;
  width: 45px;
}
/* cv cá nhân */
.ten-duan a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  display: inline-block;
}
.chitiet {
  background-color: rgb(82, 136, 183);
}
ul {
  display: inline;
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}
ul li:hover ul {
  display: block;
}
ul li ul {
  position: absolute;
  width: 100px;
  display: none;
}
ul li ul li {
  background: rgb(21, 5, 250);
  display: block;
}
ul li ul li a {
  display: block !important;
}
ul li ul li:hover {
  background: blue;
}
.year {
  border: 1px solid blue;
  width: 55px;
  border-radius: 25px;
  background-color: aqua;
  padding: 5px;
  text-align: center;
}
table {
  border: 1px solid black;
  border-collapse: collapse;
}
td {
  border: 1px solid black;
  height: 100%;
}
/* liên lạc footter */

.lienlac {
  display: flex;
  justify-content: space-between;
  font-size: 30px;
  padding: 0 15%;
}
.lienlac a {
  color: blue;
}
.lienlac li {
  list-style: none;
  margin-top: 20px;
}
